{% extends 'base-back.html.twig' %}
{% block body %}
<div class="mx-auto" style="width: 500px;">
    <div class="font-italic">

        <h4 class="text-danger">Gérer Commandes </h4>
    </div>
</div>
<div class="container h-100">
    <div class="row align-items-center h-100">
        <table class="table">
            <tbody>
            <div class="container h-100">
                <div class="row align-items-center h-100">

                    <tr>
                        <th scope="row">ID</th>
                        <th scope="row">Nom</th>
                        <th scope="row">Prenom</th>
                        <th scope="row">Quantité</th>
                        <th scope="row">Titre</th>
                        <th scope="row">Prix</th>
                        <th scope="row">Total</th>
                        <th scope="row">Mode Payment </th>
                        <th scope="row">Date Reception</th>
                        <th scope="row">Ajouter Nouvelle Commande </th>
                        <th scope="row">Modifier</th>
                        <th scope="row">Totale</th>




                    </tr>
                </div>
            </div>

            <tr {% for c in commande %}>
                <td>
                    {{ c.id}}
                </td>
                <td>{{ c.nom }}</td>
                <td>{{ c.prenom}}</td>
                <td>
                    {{ c.quantite }}
                </td>
                <td>
                    {{ c.titre }}
                </td>
                <td>{{ c.prix }}</td>
                <td>{{ c.Total }}</td>
                <td>{{ c.modepay }}</td>
                 <td>{{ c.Date|date('d-m-Y') }}</td>




                <td><a href="{{ path('add',{'id':c.id})  }}">Ajouter Commandes</a></td>
                <td><a href="{{ path('update',{'id':c.id})  }}">Modifier</a></td>
                <td><a href="{{ path('d',{'id':c.id}) }}">Supprimer Commande</a></td>
            </tr {% endfor %}>
        </table>
        {% endblock body %}