{% extends 'front.html.twig' %}
{% block title%} Liste des Produits {% endblock %}

{% block body %}

    <table id="produits" class="table table-striped">
        <thead>
        <tr>

            <td>Reference</td>
            <td>Libelle</td>
            <td>Nom</td>
            <td>Nombre</td>
            <td>Prix</td>
            <td>Marque</td>
            <td>Reduction</td>
            <td>Date</td>
            <td>NomCategorie</td>
            <td>Image</td>
        </tr>
        </thead>
        <tbody>
        {% for i in p %}
            <tr>


                <td>{{ i.id }}</td>
                <td>{{ i.libelle }}</td>
                <td>{{ i.nomP }}</td>
                <td>{{ i.nombre }}</td>
                <td>{{ i.prix }}</td>
                <td>{{ i.marque }}</td>
                <td>{{ i.reduction }}</td>
                <td>{{ i.dateP|date("d/m/Y")  }}</td>
                <td>{{ i.categorie.nomC }}</td>
                <td class="table-light"><img src="{{ asset('/uploads/' ~ i.image ) }}" alt="img" class="image" style="max-height: 150px; width: 120px;" ></td>





            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}