{% extends 'base.html.twig' %}
{% block title%} Liste des Categories {% endblock %}

{% block body %}

    <table id="categories" class="table table-striped">
        <thead>
        <tr>

            <td>Id</td>
            <td>Nom categorie</td>
            <td>Type categorie</td>
            <td>Sexe</td>
            <td>CategorieOrder</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for i in c %}
            <tr>


                <td>{{ i.id }}</td>
                <td>{{ i.nomC }}</td>
                <td>{{ i.type }}</td>
                <td>{{ i.sexe }}</td>
                <td>{{ i.CategorieOrder }}</td>
                <td>
                    <form action="{{ path('ajoutC',{'id':i.id}) }}">
                        <button>Ajouter</button></form>

                </td>
                <td>
                    <form action="{{ path('suppC',{'id':i.id}) }}">
                        <button>Supprimer</button></form>

                </td>
                <td>
                    <form action="{{ path('modifC',{'id':i.id}) }}">
                        <button>Modifier</button></form>

                </td>




            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}